 <!-- About Section -->
    <section class="success" id="about">
    
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                 The idea for this project is simple: Provide an index to unify emerging data disciplines.
                 This is not a blog but a directory to make accessible tutorials, projects, articles and 
                 opportunies across all fields of data engineering including but not limited to
                 1. Data science and analytics
                 2. Machine learning Ops
                 3. Database Design and Informatin Retrieval
                 4. Infomration Geometry and more. </p>
                </div>
                <div class="col-lg-4">
                    <p>Please take this opportunity to sign up for my mailing list</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/subscribe" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Subscribe Now
                    </a>
                </div>
            </div>
        </div>
    </section>
